* {
    margin: 0;
}

.main {
    background-color: rgb(17, 16, 16);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    color: white;
    padding-bottom: 50px;
}

span {
    color: rgb(8, 158, 0);
}

.child {
    background-color: white;
    height: 50%;
    border-radius: 8px;
}

.child input {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.child button {
    margin: 20px 10px 0px;
    padding: 20px;
    background-color: rgb(8, 158, 0);
    border-radius: 8px;
    color: white;
}